@model ParyInvites2.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dziękujemy</title>
</head>
<body>
    @{ 
        try
        {
            WebMail.SmtpServer = "smtp.przyklad.pl";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "nazwaUżytkownikaSMTP";
            WebMail.Password = "HasłoUżytkownikaSMTP";
            WebMail.From = "rsvp@przyklad.pl";

            WebMail.Send("gospodarz=przyjęcia@przyklad.pl", "Powiadomienie RSVP", Model.Name + ((Model.WillAttend ?? false) ? "" : "nie") + "przyjdzie");
        }
        catch (Exception)
        {
            @:<b>Przepraszamy - nie możemy wysłać wiadmości RSVP.</b>
        }
    }
    <div> 
        <h1>Dziękujemy, @Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
            @:Cieszymy się, że przyjdziesz do nas. Napoje sa już w lodówce!
        }
        else
        {
            @: Przykro nam, że nie możesz się zjawić, ale dzięki za info.
        }
    </div>
</body>
</html>
